src/main/resources/xsd/base-dto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/dto/base"
           xmlns:tns="http://example.com/dto/base"
           elementFormDefault="qualified">

    <xs:complexType name="BaseDto">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="createdAt" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
