src/main/resources/xsd/customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com/customer"
           targetNamespace="http://example.com/customer"
           elementFormDefault="qualified">

    <xs:element name="customer" type="tns:CustomerType"/>

    <xs:complexType name="CustomerType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="address" type="tns:AddressType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="country" type="xs:string"/>
            <xs:element name="postalCode" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
